@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white font-sans;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #7f1dff; 
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937;
}
